body{
  background: url(../images/blank-business-composition-373076.jpg)  0% 0% / cover no-repeat

}

.carousel-caption {
  margin-bottom: 14em
}

.text-white {
  font-size: 1.2em
}

.imgmar {
  margin-bottom: 3em
}

.martop3em{
  margin-top: 1em
}

.imgmar2 {
  margin-bottom: 0.5em;
  width: 80px;
  height: 80px;
}

.rowmarginup{
  margin-top: 3em;
  background-image: url("../images/homebackground.jpeg")

}

.headwebD{
  color: white;
  font-size: 2.5em;
  margin-top: 1em;
}

.pwebD{
  color: white;
  font-size: 1.5em;
}

.thumbnail{
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
}

.thumbtext{
  font-size: 2em;
}

.colrowlower{
  margin-top: 12em;
}