body{
  background: url(../images/blank-business-composition-373076.jpg)  0% 0% / cover no-repeat

}

.carousel-caption {
 border: 1em;
 background: gray; opacity: 0.5;
margin-bottom: 17em;
border-radius: 25px;
border: 2px solid #73AD21;
padding: 20px; 
}

.carousel-caption:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.text-white {
  font-size: 1.2em
}

.imgmar {
  margin-bottom: 3em
}

.martop3em{
  margin-top: 1em
}

.imgmar2 {
  margin-bottom: 0.5em;
  width: 80px;
  height: 80px;
}

.rowmarginup{
  margin-top: 3em;
  background-image: url("../images/homebackground.jpeg")

}

.conforweb{
  background: gray; opacity: 0.5;
 border-radius: 25px;
 border: 2px solid #73AD21;
 padding: 20px; 
  margin-top: 6em;
}
.conforweb:hover{
  opacity: 1.0;
  filter: alpha(opacity=100);
}
.headwebD{
  color: white;
  font-size: 2.5em;
  margin-top: 1em;
  opacity: 1.0;
}

.pwebD{
  color: white;
  font-size: 1.5em;
  opacity: 1.0;
}

.thumbnail{
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
}

.thumbtext{
  font-size: 2em;
}

.colrowlower{
  margin-top: 12em;
}
